*{box-sizing:border-box
}
/* Base style for mobile  devices */
body{
    background-color: #7833db;
}
#body{
    background-color: #378fdc;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;
}
.navbar {
  overflow:hidden;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  border-style:solid;
  border-color: #25ba25;
  border-width: 3px;
 
}

.navbar a {
  float: left;
  font-size: 20px;
  color:#fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #ff0098;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0098;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: larger;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #25ba25;
}

.show {
  display: block;
  
}
.post {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 80px;
  font-size: 20px;
}

.content {
  background-color: #e2e2e2;
  text-align: center;
  width: 900px;
  margin: 10px;
  align-items: center;
  padding: 10px;
}
.post2 {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 80px;
  font-size: 20px;
}

.content2 {
  background-color: #e2e2e2;
  text-align: center;
  width: 900px;
  margin: 10px;
  align-items: center;
  padding: 10px;
}
#choose{
  text-align: center;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  align-items: center;
  margin-top: 10px;
  background-color: #ff0098;
  width: 650px;
  height: 550px;
}
#img1{
  align-items: center;
  justify-content: center;
  margin: auto;
}
#div1, #div2{
  width: 305px;
  height: 200px;
  border: 2px solid #000;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color:#e2e2e2;
  justify-content: center;
  align-items: center;
}
/* For devices with a minimum width of 992px (Medium) */
@media screen and (min-width: 992px) {
body {
    background-color: #ff0098;
  }
}
/* For devices with a minimum width of 1200px (Large) */
@media screen and (min-width: 1200px) {
body {
    background-color: #e2e2e2;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 300px) {
  .post .post2{
    flex-direction: column;
  }
}

/* Make a one column-layout instead of three-column layout */
@media (max-width: 900px) {
  #div1, #div2{
    float: none;
    margin: auto;
  }
}
